<h4>Location: {{fullLocation}}</h4>

<p>Rentals available in {{city.name}}:</p>
<ul>
  {{#each sortedRentals as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}

</ul>

<button {{action 'delete' city}}>Delete This City</button>
